@media (max-width: 575.98px) {


    #menu {
        z-index: 3;
        position: fixed;
        top: 60px;
        display: none;
        padding: 20px;
    }
    

    #entrada-conteudo2 h1 {
        cursor: pointer;
        box-sizing: border-box;
        display: block;
        padding: 12px;
        line-height: 2;
        text-transform: uppercase;
        font-size: 5em;
        color: #fff;
        border-radius: 10px 0px 10px 0px;
        transition: 1.02s;  
    }

 

    
    #entrada-texto-conteudo h2 {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 5em;
        color: beige;
    }

    
    header {
    
        width: 10vh;
        height: 60px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }

    
    #entrada-conteudo2 {
    
        background:url(img/fundo-fone-mina-degrade.png) no-repeat center ;
        background-size: 90%;
        max-height: 100vh;
        min-height: 430px ;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #entrada-conteudo1 img {
        padding: 20px;
        width: 90%;
    
    }

    #entrada-texto-container {
    
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5vh;
        min-height: 430px;
    }

    #conheca-tecnologias {
        min-height: 200px;
    }

    #conheca-tecnologias-conteudo {
        margin-right: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #conheca-tecnologias-conteudo h1 {
        font-size: 3em;
        text-transform: uppercase;
        font-weight: bold;
        color: bisque;
    }
    
    
    #atualizacoes-tecnologias {
        background: #e5cd90;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 400px;
    }

    #lista-container {
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        
        
    }

    #ios-16, #ios-17, #ios-18 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 80%;
        border: 1px solid rgb(215, 46, 46);
        border-radius: 20px 0 20px 0;
        margin-bottom: 10px;
    }

    #ios-16 h1, #ios-17 h1, #ios-18 h1 {
        text-transform: uppercase;
        line-height: 1;
        font-size: 2em;
        color: rgb(215, 46, 46) ;
        margin-bottom: 10px;
    }

    #ios-16 a, #ios-17 a, #ios-18 a {
        margin-top: 10px;
        line-height: 2;
        font-size: 1em;
        border-radius: 0 20px 0 20px;
        background-color: rgb(215, 46, 46);
        padding: 5px;
        color: #e5cd90;
    }

    #rodape-container {
        width: 100%;
        background: rgb(43, 43, 43);
    }

    #ios-16 p, #ios-17 p, #ios-18 p {
        font-size: 1em;
        line-height: 0;
        color: rgb(0, 0, 0) ;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    #menu {
        z-index: 3;
        position: fixed;
        top: 60px;
        display: none;
        padding: 20px;
    }
    

    #entrada-conteudo2 h1 {
        cursor: pointer;
        box-sizing: border-box;
        display: block;
        padding: 12px;
        line-height: 2;
        text-transform: uppercase;
        font-size: 6em;
        color: #fff;
        border-radius: 10px 0px 10px 0px;
        transition: 1.02s;  
    }

 

    
    #entrada-texto-conteudo h2 {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 6em;
        color: beige;
    }

    
    header {
    
        width: 10vh;
        height: 60px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }

    
    #entrada-conteudo2 {
    
        background:url(img/fundo-fone-mina-degrade.png) no-repeat center ;
        background-size: 90%;
        max-height: 100vh;
        min-height: 430px ;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #entrada-conteudo1 img {
        padding: 20px;
        width: 90%;
    
    }

    

    @media (hover:hover) {

        .card-entrada img:hover {
            z-index: 2;
            scale: 1.02;
            border: 1px solid rgb(255, 255, 255, 0.2)
        }

    }

    #entrada-texto-container {
    
        display: flex;
        
        width: 100%;
        height: 5vh;
        min-height: 430px;
    }


    #conheca-tecnologias-conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: none;
        margin: 0 auto;
        
    }

    #conheca-tecnologias-conteudo h1 {
        font-size: 3em;
        text-transform: uppercase;
        font-weight: bold;
        color: bisque;
    }

    #atualizacoes-tecnologias {
        background: #e5cd90;
        height: 50vh;
        min-height: 400px;
    }

    #lista-container {
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #ios-16, #ios-17, #ios-18 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50px;
        border: 1px solid rgb(215, 46, 46);
        border-radius: 20px 0 20px 0;
        margin-bottom: 10px;
    }

    
    #ios-16 h1, #ios-17 h1, #ios-18 h1 {
        text-transform: uppercase;
       
        font-size: 2.5em;
        color: rgb(215, 46, 46) ;
        margin-bottom: 10px;
    }
    
    #ios-16 a, #ios-17 a, #ios-18 a {
        margin-top: 10px;
        line-height: 2;
        font-size: 1em;
        border-radius: 0 20px 0 20px;
        background-color: rgb(215, 46, 46);
        padding: 5px;
        color: #e5cd90;
    }


    #rodape-container {
        width: 100%;
        background: rgb(43, 43, 43);
    
        
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    #entrada-conteudo2 {
    
        background:url(img/fundo-fone-mina-degrade.png) no-repeat center ;
        background-size: 60%;
        max-height: 100vh;
        min-height: 666px ;
        display: flex;
        align-items: center;
        justify-content: center;
    }

 


    #entrada-texto-conteudo h2 {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 8em;
        color: beige;
    }

    #entrada-conteudo1 {
   
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
     }       

     .card-entrada img {
        
        padding: 20px;
        border-radius: 50px;
        transition: 1.01s;
        border: 1px solid rgb(255, 255, 255, 0);
    }

    #entrada-conteudo2 h1 {
        cursor: pointer;
        box-sizing: border-box;
        display: block;
        padding: 12px;
        line-height: 2;
        text-transform: uppercase;
        font-size: 7em;
        color: #fff;
        border-radius: 10px 0px 10px 0px;
        transition: 1.02s;  
    }

    #conheca-tecnologias-conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: none;
        margin: 0 auto;
        
    }

    #lista-container {
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #ios-16, #ios-17, #ios-18 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 80%;
        border: 1px solid rgb(215, 46, 46);
        border-radius: 20px 0 20px 0;
        margin-bottom: 10px;
    }

    #ios-16 h1, #ios-17 h1, #ios-18 h1 {
        text-transform: uppercase;
        line-height: 0;
        font-size: 2.5em;
        color: rgb(215, 46, 46) ;
        margin-top: 10px ;
        
    }

    #ios-16 a, #ios-17 a, #ios-18 a {
        margin-top: 10px;
        line-height: 2;
        font-size: 1.2em;
        border-radius: 0 20px 0 20px;
        background-color: rgb(215, 46, 46);
        padding: 5px;
        color: #e5cd90;
    }

    #atualizacoes-tecnologias {
        background: #e5cd90;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 400px;
    }

    
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    #entrada-texto-conteudo h2 {
        text-transform: uppercase;
        font-size: 10em;
        color: beige;
    }

    #entrada-conteudo1 img {
        padding: 20px;

        z-index: 0;
    
    }
    #menu {
        z-index: 1;
        position: fixed;
        top: 60px;
        display: flex;
        padding: 20px;
    }
     #entrada-conteudo2 {
    
        background:url(img/fundo-fone-mina-degrade.png) no-repeat center ;
        background-size: 50%;
        max-height: 100vh;
        min-height: 666px ;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #ios-16, #ios-17, #ios-18 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 27%;
        border: 1px solid rgb(215, 46, 46);
        border-radius: 20px 0 20px 0;
        margin-bottom: 10px;
    }

    
}