/* Conf gerais*/

    

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#menu li {
    float: left;
    padding: 15px;
    display: block;
    
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-size: clamp(0.625rem, 0.375rem + 0.5208vw, 1rem);
    font-family: "myriad-pro";
    font-weight: 400;
    font-style: normal;
    background: rgb(43, 43, 43);
    animation: blur 1s;
    
    
}

/* animações*/

@keyframes blur {

    from {filter: blur(10px); scale: 1.5;}
    to {filter: blur(0); scale: 1;}

}

@keyframes efeitotexto {
    from {filter: blur(0);}
    25% {filter: blur(0.1px); scale: 1.1;}
    50% {filter: blur(0.2px); scale: 1.2; color:rgb(215, 46, 46);}
    75% {filter: blur(0.1px); scale: 1.1;}
    to {filter: blur(0);}
}

    

.efeito-texto {
    animation: efeitotexto 10s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}



/* container*/

#container {
   /* border: 1px solid rgb(60, 0, 255);*/
    width: 99,5%;
    height: 85vh;
    
}

/* Header*/

header {
    
    width: 80vh;
    height: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

#menu {
    z-index: 2;
    position: fixed;
    top: 60px;
    display: flex;
    padding: 20px;
}

#menu a {
    text-transform: uppercase;
    color: beige;
    transition: 1.02s;
    
}


#logo img:hover {

    scale: 1.2;

}

#logo img {
    width: 35px;
    transition: 1.02s;
    
}

#nav-principal {
    display: flex;
    justify-content: space-around ;
    font-size: clamp(0.625rem, 0.375rem + 0.5208vw, 1rem);    
    width: 100%;
    scale: 1.2;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.308);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
}

/* conteudo principal container*/

#conteudo-principal-container {
    
    width: 100%;
    background-color: rgb(27, 27, 27);
    

    
}

/* conteudo principal 1*/



#entrada-conteudo1 {
   
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}       


.card-entrada img {
    padding: 20px;
    border-radius: 50px;
    transition: 1.01s;
    border: 1px solid rgb(255, 255, 255, 0);
}

.card-entrada img:hover {
    scale: 1.02;
    z-index: 2;
    border: 1px solid rgb(255, 255, 255, 0.2)
}

/* conteudo texto*/

#entrada-texto-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    min-height: 430px;
}

#entrada-texto-conteudo h2 {
    text-transform: uppercase;
    font-size: 12em;
    color: beige;
}




/* conteudo principal 2*/

#entrada-conteudo2 h1 {
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    padding: 12px;
    line-height: 2;
    text-transform: uppercase;
    font-size: 10em;
    color: #fff;
    border-radius: 10px 0px 10px 0px;
    transition: 1.02s;  
}


#entrada2-container {
    background: linear-gradient(0deg, rgba(28, 28, 28, 0) 0%, rgb(126, 34, 34) 30%, rgb(215, 46, 46) 100%);
    
}

#entrada-conteudo2 {
    
    background:url(img/fundo-fone-mina-degrade.png) no-repeat center bottom;
    background-size: 35%;
    height: 100vh;
    min-height: 806px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Conteudo secundario */




#conteudo-secundario-container {
    
    width: 100%;
    height: 100vh;
    
}

/* Conteudo conheça tec */

#conheca-tecnologias {
    
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgb(215, 46, 46);
    min-height: 280px;
}

#conheca-tecnologias-conteudo {
    margin-right: 100px;
    padding: 20px;
    text-align: end;
    
}

#conheca-tecnologias-conteudo h1 {
    font-size: 5em;
    text-transform: uppercase;
    font-weight: bold;
    color: bisque;
}

#conheca-tecnologias-conteudo p {
    font-size: 1em;
    line-height: 4;
    color: bisque;
}

#conheca-tecnologias-conteudo a{
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    color: #ddc32f;
    border-left: 1px solid rgb(221, 195, 47);
    border-right: 1px solid rgb(221, 195, 47);
    border-radius: 20px;
    padding: 5px;
    transition: 1.01s;
}

#conheca-tecnologias-conteudo a:hover {
    background-color: #ddc32f;
    color: rgb(0, 0, 0);
}

/* att tec */

#atualizacoes-tecnologias {
    background: #e5cd90;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
}

#atualizacoes-tecnologias-texto {
    display: flex;
    justify-content: center;
    
}

#atualizacoes-tecnologias-texto h1 {
    text-transform: uppercase;
    color:  rgb(215, 46, 46);
    font-size: 2.5em;
}



#lista-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#ios-16, #ios-17, #ios-18 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 1px solid rgb(215, 46, 46);
    border-radius: 20px 0 20px 0;
    padding: 20px;
    
}

#ios-16 h1, #ios-17 h1, #ios-18 h1 {
    text-transform: uppercase;
    line-height: 1;
    font-size: 4.5em;
    color: rgb(215, 46, 46) ;
    margin-bottom: 10px;
}

#ios-16 p, #ios-17 p, #ios-18 p {
    font-size: 1em;
    color: rgb(0, 0, 0) ;
}

#ios-16 a, #ios-17 a, #ios-18 a {
    margin-top: 10px;
    line-height: 2;
    font-size: 1.7em;
    border-radius: 0 20px 0 20px;
    background-color: rgb(215, 46, 46);
    padding: 5px;
    color: #e5cd90;
}

#lista-container a:hover {

    text-decoration: underline;

}

/* rodape */

#rodape-container {
    
    width: 100%;
    display: flex;
    flex-direction: column;
   
    
}

#rodape-conteudo {
    height: 30vh;
    min-height: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    
}

#box-logo img {
    width: 100px;
}

#box-contato, #box-linkedin, #box-logo,
#box-produtos {
    
    line-height: 3;
    
    
}

#box-produtos a, #box-linkedin a{
    color: bisque;
    
}


#box-produtos a:hover, #box-linkedin a:hover{
    text-decoration: underline;
}

#box-contato {
    color: bisque;
}